.menu {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.languages {
  border: solid;
  width: 300px;
  height: 400px;
}

.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}